%ul.sidebar-menu
  %li.header MAIN NAVIGATION
  %li.treeview
    %a{:href => "/companies"}
      %i.fa.fa-bank
      %span Companies
      %i.fa.fa-angle-left.pull-right
  %li.treeview
    %a{:href => "/Log"}
      %i.fa.fa-th-list
      %span Log
      %i.fa.fa-angle-left.pull-right
